<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <h1>ITok</h1>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ml-3">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
      </ul>
    </div>
    <form class="d-flex text-center">
      <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
      <button pButton  type="button" label="Search" class="p-button-text"></button>
    </form>
  </div>
</nav>