<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ITOK</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <app-header></app-header>
    <div class="container">
        <div class="row gtr-200">
            <div class="col-6 col-4-mobile">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image0"></div>
                        <mat-card-title>Yaiba</mat-card-title>
                        <mat-card-subtitle>Change Profile</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/images/tsm.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            I Like dogs
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                        <button mat-button>COMMENT</button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-6 col-4-mobile">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                        <button mat-button>COMMENT</button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gtr-200">
            <div class="col-6 col-4-mobile">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image1"></div>
                        <mat-card-title>DisCord</mat-card-title>
                        <mat-card-subtitle>Profile</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/images/avatar2.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            My Own
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                        <button mat-button>COMMENT</button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-6 col-4-mobile">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image2"></div>
                      <mat-card-title>Blue Among</mat-card-title>
                        <mat-card-subtitle>Photo</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/images/634.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            This is Me. Hand Some.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                        <button mat-button>COMMENT</button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</body>

</html>
