.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-header-image1 {
background-image: url('https://preview.redd.it/zdnyky2bwlh51.png?auto=webp&s=d7675f8e9838323b9ef0e2fd2e09746518c33518');
background-size: cover;
}
.example-header-image2 {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS64MJGYiFXXS-Cyuec9SNouNHW4oMP_fSgpg&usqp=CAU');
background-size: cover;
}
.example-header-image0 {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaDYowEfeCDJtd-jies83dIngeYXfCgxWh3w&usqp=CAU');
background-size: cover;
}
