<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Itok</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <app-header></app-header>

    <div class="ml-5 mt-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col text-center">
                        <img class="profile" [src]="src">
                        <h2>{{pro_email}}</h2>
                        <button pButton  type="button" label="Follow" class="p-button-text" style="border-radius: 15px;"></button>
                    </div>
                </div>
                <hr style="border-width: 1px;">
                <div class="row">
                    <div class="col-5">
                        <h3>University:</h3>
                    </div>
                    <div class="col- ">
                        <h3>Mahasarakham</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <h3>Age:</h3>
                    </div>
                    <div class="col-">
                        <h3>20</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <h3>Gender:</h3>
                    </div>
                    <div class="col- ">
                        <h3>Male</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 " style="margin-top: 5px;">
                <div class="row mt-5">
                    <div class="col">
                        <p-card class="mt-5" header="{{pro_name}}">
                            <p >I am hungry !</p>
                            <hr>
                            <div class="row">
                                <div class="col text-left">
                                    <button pButton  type="button" label="Like" class="p-button-text" style="border-radius: 15px;"></button>
                                </div>
                                <div class="col text-center">
                                    <button pButton  type="button" label="Comment" class="p-button-text" style="border-radius: 15px;"></button>
                                </div>
                                <div class="col text-right">
                                    <button pButton  type="button" label="Share" class="p-button-text" style="border-radius: 15px;"></button>
                                </div>
                            </div>
                            <hr>
                        </p-card>

                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <p-card class="mt-5" header="{{pro_name}}">
                            <p >I am hungry !</p>
                            <hr>
                            <div class="row">
                                <div class="col text-left">
                                    <button pButton  type="button" label="Like" class="p-button-text" style="border-radius: 15px;"></button>
                                </div>
                                <div class="col text-center">
                                    <button pButton  type="button" label="Comment" class="p-button-text" style="border-radius: 15px;"></button>
                                </div>
                                <div class="col text-right">
                                    <button pButton  type="button" label="Share" class="p-button-text" style="border-radius: 15px;"></button>
                                </div>
                            </div>
                            <hr>
                        </p-card>

                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col">
                        <p-card class="mt-5" header="{{pro_name}}">
                            <p >I am hungry !</p>
                            <hr>
                            <div class="row">
                                <div class="col text-left">
                                    <button pButton  type="button" label="Like" class="p-button-text" style="border-radius: 15px;"></button>
                                </div>
                                <div class="col text-center">
                                    <button pButton  type="button" label="Comment" class="p-button-text" style="border-radius: 15px;"></button>
                                </div>
                                <div class="col text-right">
                                    <button pButton  type="button" label="Share" class="p-button-text" style="border-radius: 15px;"></button>
                                </div>
                            </div>
                            <hr>
                        </p-card>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
